<div class="chat-box">
  <div class="chat-face">
      <img src="http://lohas.nicoseiga.jp/o/235dcaed81d33609a5fd9466a3c3b579a367a2b1/1476077898/4885096" width="90" height="90"/>
  </div>
  <p class="chat-area">
    <div class="chat-hukidashi">
      <%= sentence.sentence %>
    </div> 
  </p>
</div>
