<div class="chat-box">
  <div class="chat-face">
      <img src="http://lohas.nicoseiga.jp/o/235dcaed81d33609a5fd9466a3c3b579a367a2b1/1476077898/4885096" width="90" height="90"/>
  </div>
  <p class="chat-area">
    <div class="chat-hukidashi">
      <%= sentence.sentence %>      
    </div> 
    <div class="edit_button">
      <button id="edit" type="button" class="button button--ujarak button--border-medium button--round-l button--text-thick edit_color">修正</button>
      <button id="new" type="button" class="button button--ujarak button--border-medium button--round-l button--text-thick edit_color">x</button>
    </div>
  </p>
</div>
