<body>

  <p>・4択に答えながら人工知能ちゃんに応答を教えてあげるモード</p>
  <p>・質問に対する応答をチェックすることで人工知能ちゃんが学習していくよ</p>
  <p>・ ここの絵を描く</p>
  <a class="button-home button--ujarak button--border-thin button--round-s button--text-medium" href="/choices/new">開始</a>

</body>

