<script>$('div.header-center').html('Mybot');</script>

<div class="contents">
  <% if user_signed_in? %>
    <% if Bot.exists?(user_id: current_user.id) %>
      <span>
        <a class="button-home button--ujarak button--border-thin button--round-s button--text-medium" href="/topics">学習</a>
        <a class="button-home button--ujarak button--border-thin button--round-s button--text-medium" href="/evaluates/new">バトル</a>
        <a class="button-home button--ujarak button--border-thin button--round-s button--text-medium" href="/evaluates">戦績</a>
      </span>
    <% else %>
      <a class="button-home button--ujarak button--border-thin button--round-s button--text-medium" href="/bots/new">botを作成</a>
    <% end %>
    <a class="button-home button--ujarak button--border-thin button--round-s button--text-medium" href="/tops/<%= current_user.id %>">マイページ</a>
    <a class="ranking" href="/tops/ranking"><img class="ranking" src="<%= asset_path "ranking.png" %>" alt="ranking" width="60"/></a>
  <% else %>
    ログインしてください
  <% end %>
</div>
