
ユーザー名: <%= current_user.nickname %><br>

<% if Bot.exists?(user_id: current_user.id) %>
  ボット名: <%= current_user.bot.bot_name %><br>
  バトルポイント: <%= current_user.bot.battle_point %><br>
  ボットランク: <%= current_user.bot.bot_rank %><br>
<% else %>
  <a class="button-home button--ujarak button--border-thin button--round-s button--text-medium" href="/bots/new">botを作成</a>
<% end %>

<a class="button button--ujarak button--border-thin button--round-s button--text-medium" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
