<div class="contents row">
  <div class="container">
    <%= form_tag('/bots', method: :post) do %>
      <h3>
        bot新規登録
      </h3>
      <input placeholder="ボットの名前 " type="text" name="bot_name">
      <br>
      <label for="product">性別：</label><br>
      <input type="radio" value="1" name="character_flag" id="product_1"> <label for="product_1">男</label>
      <input type="radio" value="2" name="character_flag" id="product_2"> <label for="product_2">女</label>
      <br>
      <br>
      <label for="product2">ヘアカラー：</label><br>
      <input type="radio" value="1" name="hair_color" id="product2_1"> <label for="product2_1">1</label>
      <input type="radio" value="2" name="hair_color" id="product2_2"> <label for="product2_2">2</label>
      <input type="radio" value="3" name="hair_color" id="product2_3"> <label for="product3_3">3</label>
      <input type="radio" value="4" name="hair_color" id="product2_4"> <label for="product4_4">4</label>
      <br>
      <br>
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>
