<script>$('div.header-center').html("ボット新規作成");</script>

<div class="contents row">
  <div class="container">
    <%= form_tag('/bots', method: :post) do %>
      <div class="field">
       <label>ボットの名前<em> (最大8文字)</em></label>
       <span class="input-signup input--minoru">
         <input class="input__field input__field--minoru" autofocus="autofocus" maxlength="8" size="8" type="text" name="bot_name" id="bot_name">
         <label class="input__label input__label--minoru" for="bot_name"></label>
       </span>
      </div>

      <label for="product">性別：</label>
      <input type="radio" value="1" name="gender" id="product_1" onclick="radio_serect()" checked="true"> <label for="product_1">女性</label>
      <input type="radio" value="2" name="gender" id="product_2" onclick="radio_serect()"> <label for="product_2">男性</label>
      <br>
      <br>
      <label for="product2">髪色：</label>
      <input type="radio" value="1" name="hair_color" id="product2_1" onclick="radio_serect()" checked="true"> <label for="product2_1">1</label>
      <input type="radio" value="2" name="hair_color" id="product2_2" onclick="radio_serect()"> <label for="product2_2">2</label>
      <input type="radio" value="3" name="hair_color" id="product2_3" onclick="radio_serect()"> <label for="product3_3">3</label>
      <input type="radio" value="4" name="hair_color" id="product2_4" onclick="radio_serect()"> <label for="product4_4">4</label>
      <br>
      <div class="bot-new">
        <img alt="Icon" src="<%= asset_path "icon/normal_1-1.png" %>" width="200" height="200" style="border: 5px solid #888"/>
      </div>
      <div class="actions">
        <input type="submit" name="commit" value="登録" class="button button-enter button--wapasha button--text-thick">
      </div>
    <% end %>
  </div>
</div>
