<div class="contents row">
  <div class="container">
    <%= form_tag('/bots', method: :post) do %>
      <h3>
        bot新規登録
      </h3>
      <input placeholder="Bot name" type="text" name="bot_name">
      <br>
      <label for="product_rate">キャラクター</label><br>
      <input type="radio" value="1" name="character_flag" id="product_rate_1"> <label for="product_rate_1">男</label>
      <input type="radio" value="2" name="character_flag" id="product_rate_2"> <label for="product_rate_2">女</label>

      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>
