<body>
  <p>ユーザ名: <%= @bot.user.nickname%></p>
  <p>ボット名: <%= @bot.bot_name%></p>
  <p>ボットランク: <%= @bot.bot_rank %></p>
  <p>バトルポイント: <%= @bot.battle_point %></p>
  <p></p>

  <a class="button button--ujarak button--border-thin button--round-s button--text-medium" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
</body>
