<head>
</head>
<body>
  <h1>Evaluate</h1>
  これから評価を行います<br>
  より対話が成立していると思うほうを選択してください<br>
  バトルポイントが増えます<br>

  <div class="contents">
    <a class="button button--ujarak button--border-thin button--round-s button--text-medium" href="/evaluates/<%= @eval.id %>/pairwises/new">評価開始</a>
  </div>
</body>
