/**********************************
 チャット風レイアウト
 参考: http://vdeep.net/css-chat-design
 ************************************/

#chat-frame {
  min-width: calc(100% - 30px);
  margin: auto;
  padding: 10px 10px;
  background-color: #FFFFEE;
}
 
/*画像左側のチャット*/
.chat-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 5px;
}
.chat-face {
    float: left;
    //margin-right: -70px;
}
.chat-face img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ddd;
}
.chat-area {
    //min-width: 240px;
    //max-width: 500px;
    width: calc(100% - 65px);
    float: left;
    padding: 0px 0px;
}
div.chat-hukidashi {
    max-width: calc(100% - 70px);
    float: left;
    //display: inline-block;
    //padding: 20px 0px;
    margin-left: 15px;
    margin-top: 8px;
    border-radius: 7px;
    position: relative;
    background-color: #D9F0FF;
}

.chat-hukidashi p {
    margin: 8px 5px 8px 5px;
}
.chat-hukidashi:after {
    content: "";
    position: absolute;
    top: 4px;
    left: -8px;
    //margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #D9F0FF transparent transparent;
}
 
.chat-hukidashi-right {
    display: inline-block;
    margin-right: 12px;
    margin-top: 0px;
    border-radius: 7px;
    position: relative;
    background-color: #BCF5A9;
    float: right;
}
.chat-hukidashi-right p {
    //margin-bottom: 0px;
    margin: 8px 5px 8px 5px;
}
.chat-hukidashi-right:after {
    content: "";
    position: absolute;
    top: 4px;
    right: -17px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent transparent #BCF5A9;
}
 
//編集ボタン
.edit_button{
  position: relative;
  float: left;
  //margin-right: -70px;
  //top: 10px;
  //margin-top: 10px;
}

.edit_color{
   background-color : #FFDBC9;
}



div.chat-hukidashi-choice {
    max-width: 100%;
    float: left;
    margin-left: 15px;
    margin-top: 8px;
    border-radius: 7px;
    position: relative;
    background-color: #EEEEEE;
}

.chat-hukidashi-choice p {
    margin: 8px 5px 8px 5px;
}
.chat-hukidashi-choice:after {
    content: "";
    position: absolute;
    top: 4px;
    left: -8px;
    //margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #EEEEEE transparent transparent;
}
