/**********************************
 チャット風レイアウト
 参考: http://vdeep.net/css-chat-design
 ************************************/

/*#eval-frame {
  min-width: 320px;
  max-width: 380px;
  margin: auto;
  padding: 15px 10px;
  //background-color: #FFFFEE;
}*/

.eval-box.win-1{
    background-color: #FFFFEE;
    border: medium solid #0000FF;
}

.eval-box.win-2{
    background-color: #FFFFEE;
    border: medium solid #DDFFFF;
}

.eval-box.win-0{
    background-color: #FFFFEE;
    border: medium solid #E6FFE9;
}

/*画像左側のチャット*/
.eval-box {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.eval-win-flag {
     float: left;
     //margin-right: -65px;
 }
.eval-win-flag img {
     width: 30px;
     height: 30px;
     margin: 14px 0px 14px 3px;
 }
.eval-face {
    float: left;
    margin: 5px 5px;
}
.eval-face img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ddd;
}
.eval-hukidashi {
    width: calc(100% - 170px);
    float: left;
    display: inline-block;
    padding: 2px 5px;
    margin: 2px 5px;
    //border-radius: 5px;
    position: relative;
    //background-color: #D9F0FF;
    .time{
        text-align: center;
        font-size: 50%;
        margin-bottom: 2px;
    }
    .top{
        font-size: 90%;
    }
    .middle{
        text-align: center;
        font-size: 70%;
    }
    .bottom{
        font-size: 90%;
        text-align: right;
    }
}
 
