/**********************************
 チャット風レイアウト
 参考: http://vdeep.net/css-chat-design
 ************************************/

/*#eval-frame {
  min-width: 320px;
  max-width: 380px;
  margin: auto;
  padding: 15px 10px;
  //background-color: #FFFFEE;
}*/

.eval-box.win-1{
    background-color: #CCFF33;
}

/*画像左側のチャット*/
.eval-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 5px;
}
.eval-win-flag {
     float: left;
     //margin-right: -65px;
 }
.eval-win-flag img {
     width: 30px;
     height: 30px;
     margin: 14px 0px;
 }
.eval-face {
    float: left;
    margin: 1px 5px;
}
.eval-face img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ddd;
}
.eval-hukidashi {
    width: 170px;
    float: left;
    display: inline-block;
    padding: 2px 5px;
    margin: 2px 5px;
    //border-radius: 5px;
    position: relative;
    //background-color: #D9F0FF;
    .time{
        text-align: center;
        font-size: 50%;
        margin-bottom: 2px;
    }
    .top{
        font-size: 90%;
    }
    .middle{
        text-align: center;
        font-size: 70%;
    }
    .bottom{
        font-size: 90%;
        text-align: right;
    }
}
 
