// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.topic-box{
  background-color: #FFFFF0;
  padding: 10px;
}

div.topic-title-button{
}

h1.topic-title{
  float: left;
  min-width: 180px;
  max-width: 340px;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  margin: 18px 10px 18px 10px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

div.topic-exp{
  text-align: center;
  background-color: #FFEFD5;
  margin: 0px 5px 5px 5px;
  padding: 5px;
}
