div.contents{
  padding: 15px 15px;
  background-color: #EEFFFF;
  min-height: calc(100% - 20px);
  width: 100%;
  //display: inline-block;
  //background-size: contain;
  //background-repeat: no-repeat;
  //background-image: image-url("mypage_woman/mypage_resize1.png");
}


table.ranking {
    border-collapse: collapse;
    margin: 10px auto;
}
td {
    border: solid 1px;
    padding: 10px 20px;
}
td.num{
    text-align: right;
}
img.ranking{
    float: right;
    margin: 10px 10px;
}

.rank-contents {
  min-width: 85%;
  max-width: 380px;
  margin: auto;
  padding: 10px 5px;
  background-color: #FFFFEE;
}

.bot-new{
  text-align: center;
  margin: 10px;
}

.back-iamge{
  display: inline-block;
  background-size: contain;
  //background-size: cover;
  background-repeat: no-repeat;
  background-image: image-url("mypage/mypage_resize1.png");
  height: 100%;
  width: 100%;
  //background-size: auto;
  background-position: 0px 0px;
}

div.under-prof{
  //position: absolute;
  width: 100%; //calc(100% - 30px);
  height: 100%;
  //bottom: 0;
  margin: 4% 0px 0px 0px;
  //padding: 5px;
}

div.bot-name{
  text-align: right;
  //background-color: #f6f6f6;
  background: rgba(100,100,140,0.3);
  margin: 4% 0px 50% 0px;
  padding: 2% 2%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  
  span.temp{
    color: #333333;
    font-size: 1.5em;
    text-align: left;
  }
  span.name{
    font-size: 2em;
  }
}

div.my-prof{
  text-align: right;
  background: rgba(40,10,10,0.3);
  margin: 4% 0px 0px 0px;
  padding: 1% 1%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  span.temp{
    color: #333333;
    font-size: 1em;
    text-align: left;
  }
  span.name{
    font-size: 1.5em;
  }
}
