// Place all the styles related to the trains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.edit { /* .contentsの中の.rightに対する記述 */
  display: none; /* 最初、右のコンテンツは非表示にする */
}

.edit_button #new{
  display: none;
}

.edit_button #edit{
  display: none;
}


